{% extends 'base.html' %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Company Create</h1>
        </div>
        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create a Company!</h1>
                  </div>
                  <form class="row g-3">
                      <div class="col-md-6">
                          <label for="inputEmail4" class="form-label">Email</label>
                          <input type="email" class="form-control" id="inputEmail4">
                      </div>
                      <div class="col-md-6">
                          <label for="inputPassword4" class="form-label">Password</label>
                          <input type="password" class="form-control" id="inputPassword4">
                      </div>
                      <div class="col-12">
                          <label for="inputAddress" class="form-label">Address</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                      </div>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'base' %}">Back</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock content %}

